.highlight-wrapper_default {
  background-color: #24c8db;
  cursor: pointer;
}

/*
* 波浪线
*/
.c-tilde {
  text-decoration: green wavy underline;
  cursor: pointer;
}

.c-straight-line {
  text-decoration: underline #FF3028;
  cursor: pointer;
}

.c-notes-line {
  text-decoration: underline #0c1fca;
  cursor: pointer;
}